*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
}


.main{
     display: flex;
     height: 80%;
     align-items: center;
}

.col{
    flex-basis: 50%;
}

.col1{
    margin-left: 45px;
}

.col h2{
    font-size: 45px;
    color: rgb(47, 192, 192);
    font-weight: 600;
}

.col p{
    font-size: 20px;
    color: grey;
    font-weight: 500;
    margin-top: 20px;
}

.col button{
    margin-top: 30px;
}

.card{
    width: 200px;
    height: 220px;
    display: inline-block;
    box-sizing: border-box;
    margin: 10px 15px;
    padding: 15px 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.6s ease;
    cursor: pointer;
}

.card1{
    background-image: url(src/assets/pic1.jpg);
}

.card2{
    background-image: url(src/assets/pic2.jpg);
}

.card3{
    background-image: url(src/assets/pic3.jpg);
}

.card4{
    background-image: url(src/assets/pic4.jpg);
}

.card5{
    background-image: url(src/assets/pic5.jpg);
}

.card6{
    background-image: url(src/assets/pic6.jpg);
}

.card hover{
    transform: translateY(-10px);
}