.card {
              width: 550px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
              overflow: hidden;
              margin: 10px;
            }

            #cropbg{
              background-image: url("https://images.unsplash.com/photo-1465569704703-a083158c1672?q=80&w=2001&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
              width: 100%;
              height: 818px;
            }
            
            .card-headerr {
              background-color: #333;
              padding: 16px;
              text-align: center;
            }
            
            .card-headerr .text-header {
              margin: 0;
              font-size: 18px;
              font-weight: bolder;
              color: rgb(255, 255, 255);
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            }
            
            .card-body {
              padding: 16px;
            }
            
            .form-group {
              margin-bottom: 10px;
              
            }
            
            .form-group label {
              display: block;
              font-size: 14px;
              color: #333;
              font-weight: bold;
              margin-bottom: 1px;
            }
            
            .form-group input[type="text"],
            .form-group input[type="email"],
            .form-group input[type="password"] {
              width: 100%;
              padding: 8px;
              font-size: 14px;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
            
            .btn1 {
              padding: 12px 24px;
              margin-left: 13px;
              font-size: 16px;
              border: none;
              border-radius: 4px;
              background-color: #333;
              color: #fff;
              text-transform: uppercase;
              transition: background-color 0.2s ease-in-out;
              cursor: pointer
            }
            
            .btn1:hover {
              background-color: #ccc;
              color: #333;
            }